{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/abdf98a5ec.js" crossorigin="anonymous"></script>
    <title>ABMODEL D & I - Inicio</title>
  </head>
  <body>
    <!--Inicio Cabecera-->

    <nav class="navbar">
      <a href="/admin/" class="loginadmin"><i class="fas fa-user-cog"></i>Iniciar Sesion</a>
      <div class="content">
        <div class="logo">
          <a href="{% url 'index' %}"><img class="img-logo" src="{% static 'Recursos/logo-principal.png' %}"/></a>
        </div>
        <ul class="menu">
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'productos' %}">Productos</a></li>
          <li><a href="{% url 'promociones' %}">Promociones</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
      </div>
    </nav>

    <!--Fin Cabecera-->

    <!--Inicio Slider-->

    <div id="slider">
      <figure>
        <img src="{% static 'Recursos/estanteria1.jpg' %}" />
        <img src="{% static 'Recursos/locker1.jpg' %}" />
        <img src="{% static 'Recursos/muebleoficina1.jpg' %}" />
        <img src="{% static 'Recursos/cajaplastica.jpg' %}" />
      </figure>
    </div>

    <!--Fin Slider-->

    <hr>

    <div class="presentacion">
      <h1>¡Bienvenidos a nuestra página!</h1>
      <hr>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, autem.
        Repellat reiciendis architecto commodi illo voluptate libero aliquam, ex
        maxime suscipit perspiciatis. Similique cumque alias voluptas
        necessitatibus at quo quas.
      </p>
    </div>

    <div class="video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/65Mg2Ow4xeg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="clearfix"></div>

    <hr>

    <div>
      <a href="#" class="scroll-top">
        <span class="fa fa-angle-up"></span>
      </a>
	  </div>

    <footer>
      - ABMODEL Home & Interiors México. - Todos los derechos reservados &copy;
      {% now "d/m/Y" %}
    </footer>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>